# Virtual environment
myenv/

# Exports folder
exports/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore all __init__.py files
__init__.py

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db
